*.csv
data
*.sh
oldSeedFiles
loaderio-473f65f530c88214a9524281bdafa623.txt

#node-modules
node_modules
./node_modules

#config
./server/config.js
*config.js

# K6 and New Relic
newrelic.js
newrelic_agent.log
script.js

#PEM
*.pem

#script.js
script.js